<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu-content"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>About</ion-card-subtitle>
    <ion-card-title>Crypto Cryptid</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Crypo Cryptids is a games where you can find and share all of your found crypto-zoological finds.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="skull" slot="start"></ion-icon>
    <ion-label>Hunt and Find Cryptids</ion-label>
  </ion-item>

  <ion-card-content>
    Start by making you posting your first crytid or start your first hunt
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Uses Location and Internet connection</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Camera needed to take photos</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Do not trespass</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Dont by a jerk!</ion-label>
  </ion-item>
</ion-card>
</ion-content>
