

      <ion-item>
        <ion-thumbnail>
          <img [src]="offer.imageURL" />
        </ion-thumbnail>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="ion-text-center">{{ offer.title }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-label *ngIf="offer.foundCount === 0" class="ion-text-center"><ion-badge slot="start">Undiscovered!</ion-badge></ion-label>
              <ion-label *ngIf="offer.foundCount > 0" class="ion-text-center"><ion-badge slot="start">Found!</ion-badge></ion-label>

            </ion-col>
            <ion-col size="6"><ion-label class="ion-text-right">
              <p>{{ offer.description}}</p>
            </ion-label>
          </ion-col>
          </ion-row>
        </ion-grid>
        <!--  -->


      </ion-item>
      <!-- <ion-item>
        <ion-label>
          <div class="offer-details ion-text-left">
            <ion-icon slot="start" name="calendar" color="secondary"></ion-icon>
            <ion-text color="primary" class="space-left">
              {{ offer.availableFrom| date}}
            </ion-text>
            <span class="space-left">to</span>
            <ion-icon slot="start" name="calendar" color="secondary"></ion-icon>
            <ion-text color="primary" class="space-left">
              {{ offer.availableTo| date}}
            </ion-text>
          </div>
      </ion-label>
      </ion-item> -->



