<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
      <ion-title>{{ place.title }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ place.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]=place.imageURL></ion-img>
      <ion-card-subtitle>{{ place.description }}</ion-card-subtitle>
      <ion-card-content>
        {{ place.price | currency}} / month
      </ion-card-content>
    </ion-card-content>
  </ion-card>

<ion-button [disabled]="!isBookable" color="primary" class="ion-margin" (click)="onBookPlace()" >
  Book
</ion-button>
</ion-content>
